
<h1 class="header"> Results for "<%= @title.gsub('+', ' ') %>": </h1>

<h2 class= "subheader"><div><%= @movie["Title"] %></div></h2>

<h4 class= "subheader"><div><%= @movie["Plot"] %></div></h4>
<br>
<div><img src= '<%= @movie["Poster"] %>' ></div>
<iframe src="<%= @link %>" width="500" height="500">
<h6 class= "subheader"><div><strong>Year</strong>: <%= @movie["Year"] %></div><h6>
<br>
<br>
<h4 class = "subheader"><div><strong>Actors</strong>: <%= @movie["Actors"] %></div></h4>



<br>
<br>
<%= link_to "Back to Search", search_movies_path %>
<br>
<br>
<br>
<br>
<br>
<br>

<blockquote>There's only one thing that can kill the movies, and that's education<cite>Will Rogers</cite></blockquote>
