<h2 class= "subheader"> Not finding your movie below? Try again: <br></n> <%= render "form" %></h2>

<h4> Please choose from the following: </h4>

<% @movies.each do |movie| %>
  <div class="search-result">
    <ul>
      <li><%= link_to "#{movie['Title']}", "/movies/redirect_from_keyword?utf8=✓&title=#{movie["Title"].gsub(" ","+")}&commit=Show+Me+Trailers%21" %> </li>
      <br>
      <li>Year: <%= movie["Year"] %></li>
      <li>Media Type: <%= movie["Type"].upcase %>
       
        
          </li>
      <br>
    </ul>
  <div>
<% end %>
<br>
<br>
<br>
<blockquote>You can fool a person into going to see a movie with a good trailer.<cite>Nile Rogers</cite></blockquote>




<%= link_to "Back to Search", search_movies_path %>