
<h1 class= "header_full"> Results for "<%= @title.gsub('+', ' ') %>": </h1>
<h3>Didn't find what you were looking for? Try again:</h3>
<%= render"form" %>

<h2 class= "subheader"><div><%= @movie["Title"] %></div></h2>

<h4 class= "subheader"><div><%= @movie["Plot"] %></div></h4>
<br>
<div class= "search_by_full_image"><img src= '<%= @movie["Poster"] %>' width= "450" height="550"></div>
<h6>Year</strong>: <%= @movie["Year"] %><h6>
<br>
<br>
<h4>Actors: <%= @movie["Actors"] %></h4>
<iframe class="full_title_vid" src="<%= @link %>" width="800" height="420" ></iframe>
<br>
<br>

<%= link_to "Back to Search", search_movies_path %>



<blockquote>There's only one thing that can kill the movies, and that's education<cite>Will Rogers</cite></blockquote>


