<h1> <%= @keyword %> </h1>
<img src ="<%= @poster %>"> </img>


<%= form_for @movie do |f| %>


<%= f.hidden_field url: %>
<%= f.hidden_field :user_id, value: session[:user_id] %>

<%= f.submit %>

<% end %>